<div data-sly-test="${wcmmode.edit}">
	Configure About Component
</div>

<section class="bg-primary text-white mb-0" id="about">
	<div class="container">
   		<h2 class="text-center text-uppercase text-white">${properties.title}</h2>
      	<hr class="star-light mb-5">
      	<div class="row">
        	<div class="col-lg-4 ml-auto">
          		<p class="lead">${properties.description1}</p>
        	</div>
        	<div class="col-lg-4 mr-auto">
          		<p class="lead">${properties.description2}</p>
        	</div>
      	</div>
      	<div class="text-center mt-4">
        	<a class="btn btn-xl btn-outline-light" href="${properties.buttonLink}">
          		<i class="fas fa-download mr-2"></i>
          		${properties.buttonText}
        	</a>
      	</div>
    </div>
</section>