<div data-sly-test="${wcmmode.edit}">
	Configure Banner Component
</div>

<header class="masthead bg-primary text-white text-center">
	<div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="${properties.image}" alt="">
		<h1 class="text-uppercase mb-0">${properties.title}</h1>
      	<hr class="star-light">
      	<h2 class="font-weight-light mb-0">${properties.summary}</h2>
    </div>
</header>