<div data-sly-test="${wcmmode.edit}">
	Configure Header Component
</div>

<nav class="navbar navbar-expand-lg bg-secondary ${wcmmode.edit ? '' : 'fixed-top'} text-uppercase" id="mainNav">
	<div class="container">
    	<a class="navbar-brand js-scroll-trigger" href="#page-top">${properties.title}</a>
      	<button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        	Menu
        	<i class="fas fa-bars"></i>
      	</button>
      	<div class="collapse navbar-collapse" id="navbarResponsive">
        	<ul class="navbar-nav ml-auto">
          		<li class="nav-item mx-0 mx-lg-1">
           	 		<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
          		</li>
          		<li class="nav-item mx-0 mx-lg-1">
            		<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          		</li>
          		<li class="nav-item mx-0 mx-lg-1">
            		<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
         		</li>
        	</ul>
      	</div>
    </div>
</nav>