<div data-sly-test="${wcmmode.edit}">
	Configure Contact Component
</div>

<section id="contact">
	<div class="container">
   		<h2 class="text-center text-uppercase text-secondary mb-0">${properties.title}</h2>
      	<hr class="star-dark mb-5">
      	<div class="row">
        	<div class="col-lg-8 mx-auto">
          		<form name="sentMessage" id="contactForm" novalidate="novalidate" method="POST" action="/bin/contact">
            		<div class="control-group">
              			<div class="form-group floating-label-form-group controls mb-0 pb-2">
                			<label>${properties.nameLabel}</label>
                			<input class="form-control" id="name" name="name" type="text" placeholder="${properties.nameLabel}" required="required" data-validation-required-message="${properties.nameValidationMessage}">
                			<p class="help-block text-danger"></p>
              			</div>
            		</div>
            		<div class="control-group">
              			<div class="form-group floating-label-form-group controls mb-0 pb-2">
                			<label>${properties.emailLabel}</label>
                			<input class="form-control" id="email" name="email" type="email" placeholder="${properties.emailLabel}" required="required" data-validation-required-message="${properties.emailValidationMessage}">
               	 			<p class="help-block text-danger"></p>
              			</div>
            		</div>
            		<div class="control-group">
              			<div class="form-group floating-label-form-group controls mb-0 pb-2">
                		<label>${properties.phoneLabel}</label>
                		<input class="form-control" id="phone" name="phone" type="tel" placeholder="${properties.phoneLabel}" required="required" data-validation-required-message="${properties.phoneValidationMessage}">
                		<p class="help-block text-danger"></p>
              		</div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>${properties.messageLabel}</label>
                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="${properties.messageLabel}" required="required" data-validation-required-message="${properties.messageValidationMessage}"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">${submitButtonText}</button>
                    </div>
              </form>
          </div>
    </div>
   </div>
  </section>