<p>Welcome to Home Page</p>
<div data-sly-resource="${'sample' @ resourceType='aem-training-platform/components/content/sample'}"></div>
<div data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></div>