<h2> Sample Component </h2>

FIRST NAME FROM DIALOG :: ${properties.firstName}

<sly data-sly-use.model="com.aem.training.platform.models.SampleModel">

	<p>First Name : ${model.name}</p>
	<p>Address : ${model.address}</p>
	<p>Link : ${properties.link}</p>
	<p>Phone : ${model.phone}</p>
	
	<sly data-sly-list="${model.childPages}">
		<a href="${item.url}">
			<h5>${item.title}</h5>
			<img src="${item.image}">
		</a>
	</sly>

</sly>